html, body{
    background-color: green;
}
.head1{
color: black;
background-color: lightgreen;
}
h2{
color: black;
background-color: greenyellow;
}
h3{
    background-color: greenyellow;
}